/* Norwester font: https://jamiewilson.io/norwester/, license: https://scripts.sil.org/OFL */
@font-face {
  font-family: 'Norwester';
  src: url('norwester.eot'); /* IE9 Compat Modes */
  src: url('norwester.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('norwester.woff') format('woff'), /* Pretty Modern Browsers */
       url('norwester.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('norwester.svg#norwesterregular') format('svg'); /* Legacy iOS */
}

/* START - BOOTSTRAP FONT OVERRIDES */
/* Heading font: Norwester */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .brand-text {
  font-family: 'Norwester', sans-serif;
}

/* Body font: Roboto */
:root {
  --font-family-sans-serif: 'Roboto', sans-serif;
}
html, body, .tooltip, .popover {
  font-family: 'Roboto', sans-serif;
}
/* END - BOOTSTRAP FONT OVERRIDES */

/* START - BOOTSTRAP LINK/BUTTON OVERRIDES */
a {
  color: #984B43;
}
a:hover {
  /* #984B43 darkened 10% */
  color: #753A33 !important;
}
.btn.btn-primary {
  background-color: #984B43;
  /* #984B43 darkened 5% */
  border-color: #86423B;
}
.btn.btn-primary:hover, .btn.btn-primary:active {
  /* #984B43 darkened 10% */
  background-color: #753A33 !important;
  /* #984B43 darkened 15% */
  border-color: #63312C !important;
}
.btn.btn-primary:focus {
  /* #984B43 darkened 10% */
  box-shadow: 0 0 0 0.2rem rgba(117, 58, 51, .5) !important;
}
/* END - BOOTSTRAP LINK/BUTTON OVERRIDES */

/* START - MAILCHIMP STYLE OVERRIDES */
#mc_embed_signup {
  clear: left;
  width: 100%;
}
/* END - MAILCHIMP STYLE OVERRIDES */

.home-body {
  color: #fff;
  background-color: #18121E;
  /* TODO: Replace prefixed gradients with autoprefixer */
  background-image:
    -webkit-linear-gradient(
      30deg,
      #18121E 0%,
      #233237 100%
  );
  background-image:
    -o-linear-gradient(
      30deg,
      #18121E 0%,
      #233237 100%
  );
  background-image:
    linear-gradient(
      60deg,
      #18121E 0%,
      #233237 100%
  );

  /* Fixes display of gradient if content is shorter than the screen */
  min-height: 100vh;
}

/* Text selection colour */
::-moz-selection {
  color: #fff;
  background: #984B43;
}
::selection {
  color: #fff;
  background: #984B43;
}

.title-text-super {
  top: -17px;
  position: relative;
}

.brand-text {
  color: #EAC67A;
}

.heading {
  margin-bottom: 3rem;
}

.subheading {
  margin-bottom: 1.5rem;
}

/* Add spacing between sections */
.section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
/* Remove extra padding on first and last section, doesn't correctly handle nested sections */
.section:first-of-type {
  margin-top: -1.5rem;
}
.section:last-of-type {
  margin-bottom: -1.5rem;
}

.socials-link:hover {
  /* Fixes underscore appearing next to fontawesome icon on hover */
  text-decoration: none;
}
